<!DOCTYPE html>
<html lang="en">
    <% const a = 'Khoa Pham Mean' %>
    <% const isAdmin = false %>
    <% const arrSubjects = ['Node', 'Angular', 'Mongo', 'Express']; %>
    <% const arrPeople = [
        { name: 'Ti', age: 10 },
        { name: 'Teo', age: 11 },
        { name: 'Tun', age: 12 },
    ];%>
    <head>
        <title>Learn EJS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1><%= a %></h1>

        <% if(isAdmin) { %>
            <a href="#">Trang quan tri</a>
        <% } else { %>
            <a href="#">Quay lai</a>
        <% } %>

        <% arrSubjects.forEach(subject => { %>
            <h3><%= subject %></h3>
        <% }); %>

        <% arrPeople.forEach(person => { %>
            <h3>Ten: <%= person.name %></h3>
            <p>Tuoi: <%= person.age %></p>
        <% }); %>

        <script src="reload/reload.js"></script>
    </body>
</html>
