<!DOCTYPE html>
<html lang="en">
    <% const a = 'Khoa Pham Mean' %>
    <% const isAdmin = false %>
    <% const x = '<h3>AAAA</h3>'; %>
    <head>
        <title>Learn EJS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1><%- x %></h1>

        <% if(isAdmin) { %>
            <a href="#">Trang quan tri</a>
        <% } else { %>
            <a href="#">Quay lai</a>
        <% } %>

        <% arrSubjects.forEach(subject => { %>
            <h3><%= subject %></h3>
        <% }); %>

        <% arrPeo.forEach(person => { %>
            <%- include('./partials/personRow.ejs', { person }) %>
        <% }); %>

        <script src="reload/reload.js"></script>
    </body>
</html>
